.register-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
}


/* @media only screen and (max-width: 568px) {


    .register-user {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }

} */